*{
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
 
  
    margin: 0 auto;
}
.navbar{
   
    max-width: 1100px;
    margin: 20px auto;
}
.ndiv1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ndiv2{
    display: flex;
    
}
.fin{
    padding-top: 100px;
    display: flex;
    width: 200px;
}
.ndiv3>ul{
    display: flex;
    list-style-type: none;
}
.ndiv3>ul>li{
    margin-left: 30px;
    font-weight: 600;
    color:  #424247e0;
    font-size: 1.1rem;
}
.ndiv3>ul>li:hover{
    cursor: pointer;
    color: #FF5400;}

.div1>h1,span{
     color: #FF5400;
     font-size: 2rem;
     font-weight: 800;
}
.banner{
    background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.529), rgba(0, 0, 0, 0)),url('Images/banner.png');
    max-width: 1100px;
    height: 480px;
    margin: 20px auto;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.ba-te
{ text-align: center;
    width: 90%;
    margin: 0 auto;
    
}
.ba-te>h1{
    padding-top: 80px;
    font-size: 3.8rem;
    font-weight: 700;
    color: white;
}
.ba-te>p{
    font-size: 1rem;
    color: white;
}
.ba-in{
    
    display: flex;
    width: 700px;
    height: 70px;
  gap: 7px;
    justify-content: center;
    margin: 80px auto 20px auto;
    align-items: center;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.30);
    
    
}
.all
{border-radius: 5px;
    width: 160px;
    height: 50px;
    border: none;
    color: 1rem;
    color:  #424247e0;
    padding: 5px;
}
.n-btn{
    
   background-color: #FF5400;
   color: white;
   cursor: pointer;
   align-items: center

   
}
.all>i{
  padding: 10px;
    font-size: 25px;
}
.n-btn>button{
  
    background-color: #FF5400;
    color: white;
  border: none;
  
}


.ndiv4{
    display: none;
    font-size: 2.3rem;
}
.sec2{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 70px;
}
.s2-div1{
    width: 40%;
    
}
.s2-div1>h1{
    margin-bottom: 20px;
    font-size: 32px;
   
}
.s2-div1>p,.s2-div1>ul>li{
    font-size: 13px;
    line-height: 25px;
font-weight: 400;
margin-bottom: 25px; 
}
.s2-div2{
    width: 48%;
}
main{
    max-width: 1150px;
}
.btn{
    height: 45px;
    width: 140px;
    background-color: #FF5400;
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}
.glayout{
   
    display: grid;
            grid-template-columns: repeat(12, 1fr); 
            grid-template-rows: repeat(3,1fr);
            gap: 12px; 
            width: 100%;
}
.sec3{
    margin-top: 50px;
}
.sec3>h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
    
}
.sec3>p{
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-weight: 400;
    margin-bottom: 40px;


}
.glayout>div{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 30px;
    font-weight: 800;

}


.g1{
    background-image: url('Images/Rectangle\ 5.png');
   
   
    grid-column: 1/span 6;
    
}
.g2{
    grid-column: 7/span 6;
    background-image: url('Images/Rectangle\ 8.png');
}
.g3{
    grid-column: 1/span 4;
    background-image: url('Images/Rectangle\ 6.png');
}
.g4{
    grid-column: 5/span 5;
    background-image: url('Images/Rectangle\ 7.png');
}
.g5{
    grid-column:10/span 3 ;
    background-image: url('Images/Rectangle\ 9.png');
}
.g6{
    grid-column: 1/span 5;
    background-image: url('Images/Rectangle\ 11.png');
}
.g7{
    grid-column: 6/span 7;
    background-image: url('Images/Rectangle\ 10.png');
}

.s4-1{
    margin-top: 20px;
    display: flex;
    
    gap: 40px;
}
.sec4{
    margin-top: 80px;
    margin-bottom: 30px;
   
}
.sec4>h1,.sec4>p{
text-align: center;
}
.st{
    color: #5A5A5D;
  margin-top: 10px;
  margin-bottom: 10px;
}
.s43{
    padding: 15px;
    width: 48%;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);

background: rgba(251, 181, 99, 0.05);
}
.s44{
    padding: 15px;
    width: 48%;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.s4-2{
    padding: 15px;
    width: 48%;
    margin: 40px auto;
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
.sec5{
  
   margin:50px auto 30px auto ;
   
    display: flex;
    justify-content: space-between;
    
}
.s51{padding: 20px;
    width: 35%;
    height: 444px;
    border: 2px solid orangered;
    border-radius: 15px;
    line-height: 30px;
}
.s51>p{
    color: #5A5A5D;
    margin-bottom: 20px;
}

.tn{
    width: 100%;
    height: 100%;
    background-color: rgba(249, 235, 235, 0.989);
    color: rgba(224, 96, 45, 0.803);
    font-size: larger;
    font-weight: 600;
    border: none;
    cursor:pointer
    
}
.tn:hover{
    color: #FF5400;
    
}
.s52{
    width: 62%;
    height: 444px;
    
    position: relative;
}
.s52>img{
    width: 100%;
}
.bt{
   
    text-align: center;
    height: 80px;
    width: 300px;
    color: white;
    background-color: #FF5400;
    border-radius: 14px;
    position: absolute;
    bottom: 43px;
    right: 1px;
   
    line-height: 25px;
    padding: 10px;
    transform: rotate(-20deg);

}
.inputt{
    width: 100%;
    height: 40px;
    margin: 5px auto;
    border-radius: 10px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    padding: 10px;
    line-height: 30px;


}
.nb{ margin-top: 20px;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #FF5400;
    border-radius: 10px;
    border: none;
}
.c{
    width: 100%;
    height: 500px;
    background: rgba(34, 34, 42, 0.05);
}

.fdiv{
    margin: 50px auto;
    max-width: 900px;
    height: 400px;
    text-align: center;
}
.fi{
    display: flex;
    align-items: center;
    width: 200px;
    margin-bottom: 60px;
    
}
.fdiv>hr{
    margin-bottom: 40px;
}
.fi>i{
    font-size: 30px;
}
.fdiv>p{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: #5A5A5D;
}
.s6cont{
    display: flex;
    justify-content: space-between;
    gap: 5px;


}

.on{
    width: 100%;
}
.s6icon{
    margin: 7px 0 7px 0;
}
.allp{
    width: 100%;
    height: 33px;
    margin-top: 5px;
   
    border-radius: 10px;
    color: white;
    background-color: #FF5400;
    font-weight: 700;
    border: none;
}
.s61{
    padding: 10px;
    text-align: center;
    width: 22%;
    height: 250px;
    border: 2px solid #FF5400;
    border-radius: 10px;
    background-color: rgba(249, 235, 235, 0.989);
    transition: transform .2s;
    
}
.s61:hover{
    transform: scale(1.1); 
}

.sec6{
    margin: 50px 0 50px 0;
}
.sec61>img{
    width: 100%;
    object-fit: contain;
    
    
}
.sec6>h1{
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 40px;
}
/* resoponsive section  */
@media screen and (max-width:600px)
{
 .ndiv4{
    display: inline;
 }
 .ndiv3{
    display: none;
 }
 .ba-in{
    flex-direction: column;
 }
 .banner{
    width: 98%;
    padding: 10px;
    object-fit: cover;
    background-position: center;
 }
 .ba-te>h1{
    padding-top: 20px;
    font-size: 2.8rem;
    
}
.ba-te>p{
    font-size: 0.8rem;
 }
 .ba-in{
    width: 90%;
    height: 55%;
  gap: 7px;
    justify-content: center;
    margin: 20px auto 10px auto; 
    padding: 10px 0 10px 0;
}
.all{
    width: 80%;
    height: 20%;
    

}

.sec2{
    flex-direction: column;
}
.s2-div1{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
.s2-div2{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
.s2-div2>img{
    width: 100%;
}
.sec3{
    padding: 15px;
}
.glayout{
    
    display: flex;
    flex-direction: column;
}
.sec4{
    padding: 15px;
}
.s4-1{
    flex-direction: column;
    gap: 10px;
}
.s43{
    padding: 15px;
    width: 100%;
    height: 250px;

}
.s44{
    padding: 15px;
    width: 100%;
    height: 250px;
}
.s4-2{
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    height: 250px;
}
.sec5{
    padding: 15px;
    flex-direction: column;
}
.s51{
    width: 100%;
}
.s52{
    
   margin-top: 10px;
    width: 100%;
    height: 320px;
}
.s52>img{
    width: 100%;
}
.bt{
   
right: 0px;

}
.fdiv{
    width: 100%;
    padding: 20px;
}
.s6cont{
    flex-direction: column;
}
.img-con{
    width: 80%;
}
.s61{
    width: 80%;
    gap: 10px;
    height:310px;
}
.sec6>h1{
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}
}

 
